*{
    padding: 0;
    margin: 0;
}

.contenedor{
    width: 100%;
    min-height: 400px;
    background-color: blue;
}
.contenedor h1{
    color: red;
}
.texto{
    color: aliceblue;
}

@media (max-width: 767px) {
    .contenedor{
        background-color: red;
    }
    .contenedor h1{
        color: blue;
        font-size: 50px;
    }
    .texto{
        color: bisque;
        margin-top: 50px;
        font-size: 23px;
    }


 }

 .rojo{
    background-color: red;
    min-height: 20px;;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}

.border{
    border:1px solid #000 !important;
    min-height: 50px;;
}